.Cart {
  padding: 8px;
    margin: 0 auto;
}

.CartList.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-items: center;
}

.CartList.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: center;
}
