.HeaderMenu {
  flex: 1 1 auto;
}

.HeaderMenu__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.HeaderMenu__item {
  list-style: none;
  a {
    text-transform: uppercase;
    font-size: 24px;
  }
}