.Shop {
  padding: 8px;
  margin: 0 auto;
}

.ShopList.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-items: center;
}

.ShopList.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: center;
}