.ProductContainer.grid {
  display: flex;
  background: rgb(237, 240, 246);
  max-width: 400px;  

  .Product {
      padding: 10px;
      display: flex;
      gap: 14px;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  
    .body {
      padding: 0px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .title {
      font-size: 14px;
      text-align: center;
      padding: 10px 0;
      color: rgb(61, 98, 193);
      flex-grow: 1;
    }
  
    .article,
    .articleText,
    .color,
    .colorText {
      color: rgb(61, 98, 193);
    }
  
    .article,
    .color {
      font-size: 12px;
    }
  
    .bottom {
      display: flex;
      gap: 10px;
      justify-content: right;
      padding-top: 8px;
      border-top: 2px solid rgb(39, 124, 169);
    }
  
    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .cart,
    .favorites {
      color: #c13d3d;
      cursor: pointer;
      transition: all 300ms ease;
    }
  
    .cart {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  
    .inCartTxt {
      font-size: 14px;
      color: rgb(73, 54, 46);
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .inCartCount {
      font-size: 16px;
      color: rgb(73, 54, 46);
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .favorites {
      position: absolute;
    }
  
    .price {
      text-align: right;
      font-size: 18px;
      color: rgb(61, 98, 193);
    }
  
  
  
    .modalAddCart {
      display: flex;
      font-weight: normal;
      gap: 10px;
  
      .title,
      .price {
        padding: 0;
        font-size: 14px;
        color: rgb(255, 255, 255);
      }
  
      .sds {
        color: rgb(204, 25, 52);
        background: rgb(28, 134, 70);
      }
    }
}



.ProductContainer.layout {
  display: flex;
  background: rgb(237, 240, 246);
  width: 100%;

  .Product {
    width: 100%;
    padding: 10px;
    display: grid;
    gap: 6px;
    grid-template-columns: 50% 48%;
    grid-template-areas:
      "body body"
      ". price"
      ". bottom";
  }

  .img {
    grid-area: img;
    padding: 0 20px;

    img {
      width: 75%;
      height: 166px;
      object-fit: contain;
    }
  }

  .body {
    grid-area: body;
    padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 20px 40px;
    grid-template-areas:
      "img title"
      "img article"
      "img color";
  }

  .title {
    grid-area: title;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    color: rgb(61, 98, 193);  
    
  }

  .article {
    grid-area: article;
    font-size: 12px;
    color: rgb(61, 98, 193);
  }

  .color {
    grid-area: color;
    font-size: 12px; 
    color: rgb(61, 98, 193);
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    gap: 10px;
    justify-content: right;
    padding-top: 8px;
    border-top: 2px solid rgb(39, 124, 169);
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cart,
  .favorites {
    cursor: pointer;
    transition: all 300ms ease;
  }

  .cart {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .inCartTxt {
    font-size: 14px;
    color: #49362E;
    font-weight: bold;
    text-transform: uppercase;
  }

  .inCartCount {
    font-size: 16px;
    color: #49362E;
    font-weight: bold;
    text-transform: uppercase;
  }

  .favorites {
    position: absolute;
  }

  .price {
    grid-area: price;
    text-align: center;
    font-size: 18px;
    color: #1479D8;
  }

  .modalAddCart {
    display: flex;
    font-weight: normal;
    gap: 10px;

    .title,
    .price {
      padding: 0;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}