.Favorites {
  padding: 8px;
    margin: 0 auto;
}

.FavoritesList.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 16px;
}

.FavoritesList.layout {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
}